// General + Mobile
.gallery__wrapper {
  margin-top: 2rem;
  width: 97%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 100%;
    margin-top: 2rem;
  }
}
// PC
@media (min-width: 768px) {
  .gallery__wrapper {
    margin-top: 8rem;
    img {
      width: 30rem;
      margin-right: 10px;
    }
  }
}
