@import "../../../colors/colorpreset.scss";

// general and mobile
.fe__container {
  display: flex;
  flex-wrap: wrap;
  align-self: center;
  margin-top: 20px;
  padding-bottom: 7rem;

  img {
    width: 20%;
    // background-color: gray;
  }

  img+img {
    margin-left: 10px;
  }

  .ele {
    width: calc(90% - 10px);
    margin-top: 20px;
    border-image-slice: 1;
    margin-left: .75rem;
    height: 20rem;
    padding: 1rem;
    color: white;

    img,
    h3,
    p {
      margin-bottom: 10px;
    }

    h3 {
      color: $primary-color;
    }
  }

  .licenseButton {
    color: $supportive-color;
    text-decoration: none;
    padding: 4px;
    background-color: $primary-color;
    margin-left: 10px;
    height: 5rem;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 20px;
    align-self: flex-end;
    justify-self: flex-end;
    &:hover {
      background-color: $supportive-color;
      color: $secondary-color;
      cursor: pointer;
    }
  }
}

@media (min-width: 950px) {
  .fe__container {
    .ele {
      width: 30rem;
      padding: 2rem;
    }
  }
}