@import "../../../colors/colorpreset.scss";

// general

.stacks {
  color: black;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  overflow-y: hidden;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
margin-bottom: 2rem;
z-index: 0;

  h1 {
    font-size: 2rem;
    font-weight: bold;
    color: $primary-color;
    width: 100%;
  }


  @for $i from 1 through 15 {
    .li-#{$i}:hover {
      .name {
        visibility: visible !important;
      }

      scale: 1.7;
      cursor: pointer;
      overflow: visible;
    }
  }
}
// Desktop

@media (max-width: 769px) {
  .stacks {
    max-height: 90%;

  }
}


@media (max-width: 500px) {
  .stacks {
    h1 {
      font-size: 30px;
    }
  }
}
