@import "../../../colors/colorpreset.scss";
@import "../../../utils//style/slideinanimation.scss";

// general
.sr{
  animation: slideR 1s ease-in-out;
}
.sl{
  animation: slideL 1s ease-in-out;
}
.stack__container {
  width: 100%;
  height: 100vh;
  background-color: $primary-variant2-color;
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .stack__group {
    width: 96.8%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 106px;
    margin-left: auto;
    margin-right: auto;
    .stack__card {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      border: 1px solid $primary-variant3-color;
      border-radius: 31px;
    .frontendSymbol{
      width: 79%;
      height: 141px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 40px;
    }
      // img {
      //   width: 79%;
      //   height: 141px;
      //   margin-left: auto;
      //   margin-right: auto;
      //   margin-top: 40px;
      // }
      h2{
        font-weight: bold;
        font-size: 1.875rem;
        color: $secondary-color;
        text-align: center;
        margin-top: 64px;
      }
      p{
        text-align: center;
        font-size: .938rem;
        margin-top: 25px;
        width: 45%;
        margin-left: auto;
        margin-right: auto;
      }
      &:hover{
        transform: translateY(180deg);
        cursor: pointer;
        transform-style: preserve-3d;

      }
      // &:hover{
      //   background-color: $primary-color;
      //   cursor: pointer;
      //   img{
      //     filter: drop-shadow(5px 2.5px 2px $secondary-color);
      //     scale: 1.14;
      //     transition: .5s;
      //   }
      // }
    }

  }
  .certificate__container {
    width: 100%;
    height: 8%;
    background-color: $primary-variant3-color;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
      // width: 479px;
      font-weight: bold;
      font-size: 1.3rem;
  }
  button{
    background-color: $primary-variant2-color;
    color: $secondary-color;
    border-radius: 5px;
    padding: 10px;
    margin-left: 8px;
    border: none;
    &:hover{
      background-color: $primary-color;
      cursor: pointer;
    }
  }
}
}

@media (max-width: 500px) {
  .stack__container {
    .stack__group {
      flex-direction: column;
      // .stack__card{
      // }
    }
    .certificate__container {
      border: 1px solid yellow;
      width: 100%;
      height: 8%;
    }
  }
}

//   .checkerboard {
//     width: 5vw;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     position: absolute;
//     overflow: hidden;
//     background: linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc), linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
//     background-size: 50px 50px;
//     animation: moveCheckerboard 5s linear infinite;
//   }
// @keyframes moveCheckerboard {
//   0% {
//     background-position: 0 0;
//   }

//   100% {
//     background-position: 50px 0;
//   }
// }
