// Genral + mobile phone
.about_container {
  padding-bottom: 2rem;
  .about__title {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 2rem;
    font-family: 'HyperSuperRegular';
    letter-spacing: .85rem;
  }
  margin-top: 1rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  .bio__wrapper {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-family: Futura;
    font-weight: 50;
    .bio__text {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      align-self: center;
      p {
        width: 90%;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
      }
      h3,
      h4 {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
      }
      .logoes{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        
        align-items: center;
        .logo{
          width: 20%;          
        }
        .logo+.logo{
          margin-top: 1rem;
        }
     
      }
    }

    .image__wrapper {
      margin-left: 1rem;
      width: 90%;
      height: 25rem;
      // display: flex;
      border: none;
      img{
        height: 80%;
        align-self: center;
        justify-content: center;
      }
      margin-bottom: 1rem;
    }
  }
}
@media (min-width: 768px) {
  .about_container {
    margin-top: 8rem;
    .about__title {
      font-size: 2rem;
      text-align: left;
    }
    .bio__wrapper {
      flex-direction: row;
      align-items: center;
      .bio__text {
        width: 50%;
        p {
          width: 90%;
          font-size: 20px;
        }
      }
      .image__wrapper {
        margin-left: 1rem;
        width: 50%;
        height: 40rem;
        margin-top: 0;
        align-self: flex-start;
      }
      .logoes{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1rem;
        flex-wrap: wrap;
        display: flex;
        .logo{
          width: 20%;          
        }
        .logo + .logo{
          margin-left: 2rem;
        }
      }
    }
  }
}
