@import "../../../colors/colorpreset.scss";
@import "../../../utils//style/slideinanimation.scss";

// General
.sr{
  animation: slideR 1s ease-in-out;
}
.sl{
  animation: slideL 1s ease-in-out;
}
.home__container {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
  justify-content: center;
  color:$secondary-color;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30vh;
  text-align: center;
  backdrop-filter: blur(20px); 
  padding: 2em;

  .aboutSubtitle, .downloadButton{
    margin-top: 1em;
  }
  .downloadButton{
    padding: 1em;
    border-radius: 5%;
  }

  .biotext__container {
    display: flex;
    width: 100%;
    height: 52%;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
    animation: shining 4s linear infinite;
    background: linear-gradient(90deg, $primary-color, $secondary-color, #005314);
    background-size: 200% 100%;

    .textGr {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-top: 2rem;
      font-size: 3.4rem;
      color: transparent;
      -webkit-text-stroke: 1px $primary-variant1-color;
      letter-spacing: 1.5rem;

    }
  }
}

@keyframes shining {
  0% {
    background-position: 200% 0;
  }

  100% {
    background-position: -200% 0;
  }
}

// Desktop
// macbook air 13inch
@media(min-width: 1470px) {
  .home__container {
    .biotext__container {
      .textGr {
        font-size: 2.5rem;
        letter-spacing: 1.5rem;
      }
    }
  }
}

// Mobile
@media (max-width: 500px) {
  .home__container {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;

    .biotext__container {
      display: flex;
      flex-direction: column;
      height: auto;
      padding: 6rem 0 6rem 0;
      //border: 1px solid red;

      .textGr {
        display: flex;
        flex-direction: column;
        height: auto;
        font-size: 100%;
        letter-spacing: 1rem;
        //border: 1px solid red;
        width: 90%;
        text-align: center;
        margin-bottom: 20px;
        //border: 1px solid red;

        .typorgraphy {
          font-size: 1.5rem;
          color: $primary-color;
          height: auto;
        }

        .description {
          color: $primary-color;
        }

        .viewbutton {
          font-size: 15px;
          font-weight: bold;
          text-align: left;
          align-self: center;
          width: 90%;
          box-shadow: none;
          height: 50px;
          margin-top: 1rem;
        }
      }

      .bioPro__container {
        width: 50%;
        height: 180px;
        align-self: center;
        background-position: center;
        background-size: cover;
        border: 2px solid $secondary-color;
        // height: auto;
      }
    }
  }
}