@import "../../../colors/colorpreset.scss";
@import "../../../utils//style/slideinanimation.scss";

// generall
.sr {
  animation: slideR 1s ease-in-out;
}

.sl {
  animation: slideL 1s ease-in-out;
}

.projects__container {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: $secondary-color;
  align-self: center;

  .items__wrapper {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0 4rem 0;

    a {
      text-decoration: none;
      color: red !important;

      .project__card {
        width: 50%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        background-color: $primary-color;
        margin-top: 1rem;

        .item--loading {
          width: 30%;

          background: #eee;
          background: linear-gradient(90deg, $primary-color, $secondary-color, #005314);

          background-size: 200% 100%;
          animation: 1.5s loading linear infinite;
          height: 90px;

        }

        @keyframes loading {
          to {
            background-position-x: -200%;
          }
        }

        .imageLoading {
          display: none;
        }

        .loadedImage {
          width: 30%;
          overflow: hidden;
          filter: grayscale(100%);
          padding: 2px;

        }

        // test ended
        &:hover {
          background-color: $primary-variant3-color;

          .loadedImage {
            cursor: pointer;
            transition: .5s;
            filter: grayscale(0%);
            overflow: hidden;
          }


        }

        .projectInfo {
          color: white;

          h2 {
            color: $secondary-color;
          }

          h5 {
            margin-top: 5px;
          }
        }

        img {
          width: 20rem;
          // height: 10px;
        }
      }
    }
  }
}

@media (max-width:500px) {
  .items__wrapper {
    width: 100%!important;

    .project__card {
    width: auto;
    border:1px solid red;
    .loadedImage {
      width: 100%!important;
      height: 60px;
    }
    }
  }

}