@import "../../../colors/colorpreset.scss";
@import "../../../utils//style/slideinanimation.scss";

// generall
.sr {
  animation: slideR 1s ease-in-out;
}

.sl {
  animation: slideL 1s ease-in-out;
}

.projects__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  // background-color: $secondary-color;

  .items__wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem 0 4rem 0;
    a {
      text-decoration: none;
      color: red !important;

      .project__card {
        width: 40%;
        display: flex;
        flex-direction: column;
        margin-left: auto;
        margin-right: auto;
        padding: 1em;
        backdrop-filter: blur(20px); 
        margin-top: 1rem;
        border-radius: 2%;

        .item--loading {
          width: 100%;
          background: #eee;
          background: linear-gradient(90deg, $primary-color, $secondary-color);

          background-size: 200% 100%;
          animation: 1.5s loading linear infinite;
          height: 90px;

        }

        @keyframes loading {
          to {
            background-position-x: -200%;
          }
        }

        .imageLoading {
          display: none;
        }

        .loadedImage {
          width: 90%;
          overflow: hidden;
          filter: grayscale(100%);
          align-self: center;

        }
        &:hover {
          // background-color: $secondary-color;
          border:1px solid $secondary-color;
          color: $primary-color;
          .loadedImage {
            cursor: pointer;
            transition: .5s;
            filter: grayscale(0%);
            overflow: hidden;
          }
        }

        .projectInfo {
          .postTtile {
            color: $secondary-color;
            margin-top: 1em;
            text-align: center;
          }

          h5 {
            margin-top: 5px;
          }
        }

        img {
          width: 20rem;
        }
      }
    }
  }
}

@media (max-width:500px) {
  .items__wrapper {
    width: 100%!important;
    padding: 0!important;

    .project__card {
    width: 70%!important;
    .loadedImage {
      width: 100%!important;
    }

    .item--loading {
      height: auto;
    }
    }
  }

}