@import '../../../colors/colorpreset.scss';

// General
.bodyContent{
    width: 73%;
    height: 100%;
    background-color: $primary-color;
    border-radius: 40px;
    margin-left: 24px;
}

@media (max-width:758px) {
.bodyContent{
    width: 100%;
    margin-top: 24px;
}
}