@import '../../../colors/colorpreset.scss';
// general
.profileCard  {
    min-width: 20%;
    width: 30%;
    max-width: 40%;
    height: 100%;
    background-color: $primary-color;
    border-radius: 40px;
.gernalInformation{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 40px;
    padding-top: 26px;
    img{
        min-width: 30%;
        width: 44%;
        max-width: 50%;
        margin-top: 9%;
        border-radius: 40px;
    }
    .generalInformation_author{
        margin-top: 17px;
    }
    .generalInformation_jobtitle{
        margin-top: 12px;
        background-color: $primary-variant1-color ;
        padding: 6px;
        border-radius: 40px;
        margin-bottom: 24px;
    }
    .generalInformation_dash{
        width: 84%;
        border-top: 1px solid white;
        margin-bottom: 9%;
    }
}
.contactInformation{
    width: 100%;
    .contactInformation_line{
    margin-left: 24px;
    margin-right: 24px;
    padding:3.3% 0 3.3% 0;
    display: flex;
    justify-content: row ;
    align-items: center;
    font-size: 16px;
    overflow: hidden;
        .contactInformation_line_icon{
            min-width: 43px;
            min-height: 43px;  
            background-color: $secondary-color;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .contactInformation_line_text{
            margin-left: 24px;
        }
    }
}
.socialMedia{
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0 30px 0;
    height: 9.9%;
    .socialMediaIc{
        margin-right: 24px;
        min-width: 43px;
        min-height: 43px;  
        background-color: $supportive-color;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        .fa-lg{
            color: black;
        }
    }
}

}
// Mobile or small desktop
@media(max-width:758px){
    .profileCard{
        width: 100%;
        max-width: 100%;
        height: 27%;
        border:1px solid yellow;
        .gernalInformation{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 40px;
            padding-top: 5px;
            img{
                min-width: 10%;
                width: 12;
                max-width: 15%;
                margin-top: 4.5%;
                border-radius: 40px;
                border:5px solid green
            }
            .generalInformation_author{
                margin-top: 9px;
                font-size: .7em;
            }
            .generalInformation_jobtitle{
                margin-top: 6px;
                background-color: $primary-variant1-color ;
                padding: 6px;
                border-radius: 40px;
                margin-bottom: 12px;
                font-size: .3em;
            }
            .generalInformation_dash{
                width: 84%;
                border-top: 1px solid white;
                margin-bottom: 4.5%;
            }
        }
    }
}
// tablet
@media (min-width: 760px) {
    .profileCard  {
        .gernalInformation{
            font-size: 40px;
            .generalInformation_author{
                font-size: 50%;
            }
            .generalInformation_jobtitle{
                font-size: 30%;
            }
        }
        .contactInformation{
            .contactInformation_line{
            font-size: 16px;
                .contactInformation_line_text{
                    p{
                        font-size: clamp(14px, calc(19px - 5vw), 20px);
                    }
                }
            }
        }
        }
}
// desktop
@media (min-width: 1920px) {
    .profileCard  {
        .gernalInformation{
            font-size: 40px;
            .generalInformation_author{
                font-size: 90%;
            }
            .generalInformation_jobtitle{
                font-size: 50%;
            }
        }
        .contactInformation{
            .contactInformation_line{
            margin-left: 7%;
            margin-right: 7%;
            font-size: 16px;
                .contactInformation_line_text{
                    p{
                        font-size: clamp(20px, calc(25px - 5vw), 21px);
                    }
                }
                .contactInformation_line_icon{
                    min-width: 4em;
                    min-height: 4em;  
                    background-color: $secondary-color;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        }
        .socialMedia{
        .socialMediaIc{
            min-width: 4em;
            min-height: 4em; 
        }
        }}
}
