// Mobile and general
.navbar__container {
  padding-top: 2rem;
  padding-left: 2rem;
  width: 100%;
  font-family: 'HyperSuperRegular';

  .logo {
    letter-spacing: .85rem;
    background-color: #ff8383;
    width: 70%;
    color: black;
  }

  .logo,
  .fa {
    &:hover {
      cursor: pointer;
      border-bottom: 0.25px solid gray;
    }
  }

  ul {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    letter-spacing: .5rem;

    li {
      width: 30%;
      margin-left: 1rem;
      margin-top: 0.5rem;
      padding: 5px;

      &:hover {
        cursor: pointer;
        color: #ff8383;
      }
    }

    .li-active {
      color: #ff8383;
      transition: 2s;
    }

    .li-inactive {
      color: white;
    }
  }

  .ic_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 1rem;
    font-size: 1.25rem;
    width: 40%;
    margin-top: 2rem;

    a+a {
      margin-left: 0.5rem;
    }

    a {
      padding: 5px;

      color: black;
    }
  }
}

// Desktop
@media (min-width: 768px) {
  .navbar__container {
    padding-top: 4rem;
    padding-left: 4rem;
    width: 30%;

    ul {
      font-size: 1.25rem;
      flex-direction: column;
      letter-spacing: .75rem;
      li{
        width: 40%;
      }
    }
  }

  .ic_container {
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 12rem;
  }
}