@import "../../../colors/colorpreset.scss";

// general
.navbar__container {
  width: 100%;
  display: flex;
  background-color: $primary-color;
  filter: drop-shadow(0 0 0.75rem black);
  margin:0;
  position: absolute;
  top: auto;
  bottom: auto;
  padding: 2em 0 2em;

  .ul__container {
    width: 50%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    
    ul {
      display: flex;
      flex-direction: column;
      font-size: 1.25rem;
      justify-content: center;
      align-items: center;
      list-style: none;

      li {
        font-weight: bold;
        color: $secondary-color;
        font-size: 1em;
        &:hover {
          cursor: pointer;
          color: $secondary-color;
        }
      }

      .li-active {
        color: $secondary-color;
        font-weight: bold;

      }

      li+li {
        margin-top: .5em;
      }
    }

  }
}

// Mobile
@media (max-width:500px) {
  .navbar__container {
    .ul__container {
      ul {
        font-size: 15px;

        li+li {
          margin-left: .3rem;
        }
      }
    }
  }
}