// mobile
.header {
  padding: 0;
  width: 100%;
  padding: 40px 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 16px;

  background: #f5f5f5;
  border-radius: 24px;

  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.08),
    0 4px 10px rgba(0, 0, 0, 0.05);

  transition: all 0.3s ease;

  .header__profileImg {
    flex: 1;

    img {
      width: 180px;
      height: 180px;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .header__profileTxt {
    flex: 1;
    h1 {
      color: red;
    }
    h3 {
      color: gray;
    }
  }
}

// Tablet
@media (min-width: 640px) {
}

/* iPad */
@media (min-width: 768px) {
}

/* Laptop */
@media (min-width: 1024px) {
}

/* Desktop lá»›n */
@media (min-width: 1280px) {
}
