@import "../../../colors/colorpreset.scss";

// General
.contact__wrapper {
  height: 100vh;
  background-color: $primary-variant2-color;
  display: flex;
  align-items: center;
  justify-content: center;
  .contact__container {
    width: 83%;
    height: 77%;
    display: flex;
    padding-top: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $primary-color;
    .generalInfo__container {
      img {
        margin-bottom: 55px;
      }
      p {
        font-weight: bold;
        font-size: 1.25rem;
        width: 22rem;
        margin-bottom: 55px;
      }
      a + a {
        margin-left: 20px;
      }
      a {
        text-decoration: none;
        color: $secondary-color;
        font-weight: bold;
        color: $secondary-color;
        background-color: $primary-variant2-color;
        padding: 1rem;
        &:hover {
          background-color: $primary-variant3-color;
          cursor: pointer;
        }
      }
    }
    form {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin-left: 84px;
      input {
        min-height: 15%;
        background-color: transparent;
        border: 1px solid white;
        color: white;

      }
      input:last-child {
        min-height: 7.5%;
        width: 21rem;
        align-self: center;
        margin-top: 46px;
        color: $secondary-color;
        background-color: $primary-variant2-color;
        padding: 1rem;
        border: none;
        &:hover {
          background-color: $primary-variant3-color;
          cursor: pointer;
        }
      }
    }
  }
}
// Mobile here
