.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: Futura;
  .mission {
    color: black;
    font-weight: bold;
  }
  .quote {
    color: gray;
  }
  padding: 40px;
}
