/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(24, 24, 24);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #037e2a;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #003812;
  }