@import "../../../colors/colorpreset.scss";
@import "../../../utils/style/toogleButton.scss";
.chatbox__container-mounted {
  width: 30% !important;
  transition:cubic-bezier(0.075, 0.82, 0.165, 1);
}
.chatbox__container {
  width: 10%;
  background-color: black;
  color: $primary-variant3-color;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 5px;
  border: 1px solid red;

  .toogleChat__button {
    padding: 1rem;
    background-color: $primary-variant1-color;
    border: none;
    font-weight: bold;
    color: white;
    &:hover {
      cursor: pointer;
    }
  }
  .identificationForm {
    display: flex;

    .accessButton {
      background-color: transparent;
      color: white;
      padding: 0.5rem;
      margin-right: 0.1rem;
      width: 100%;
      border: none;
      &:hover {
        background-color: $secondary-color;
        cursor: pointer;
      }
    }
    .disabled {
      background-color: rgb(42, 42, 42);
      color: black;
      &:hover {
        background-color: rgb(42, 42, 42);
        cursor: not-allowed;
      }
    }
    input {
      width: 100%;
      padding: 5px;
    }
    button {
      padding: 5px;
      width: 20%;
    }
    input {
      margin-right: 5px;
    }
  }
  .corecenter {
    .conversation__container {
      padding: 1rem 0 1rem 0;
      overflow-y: scroll;
      max-height: 10rem;
      .conversation_userA {
        color: rgb(157, 255, 0);
        text-align: right;
      }
      color: rgb(255, 123, 0);
      .message_line {
        margin-top: 10px;
      }
    }

    // }
    form {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      input {
        width: 90%;
        // padding: 1rem;
        background-color: transparent;
        color: $primary-variant1-color;
        border-top: none;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid white;

        &:focus {
          outline: none;
        }
      }
      button {
        background-color: transparent;
        color: $primary-variant1-color;
        border: none;
        padding: 1rem;
        &:hover {
          border: 1px solid white;
          cursor: pointer;
        }
      }
    }
  }
}
// mobile screen
@media (max-width: 500px) {
  .chatbox__container {
    width: 99%;
  }
}
