// General + Mobile
.homepage__container {
  width: 100%;
  margin: 0;
  min-height: 100vh;
  max-height: 100%;
  display: flex;
  flex-direction: column;

  .content__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
  }
}
// Desktop
@media (min-width: 768px) {
  .homepage__container {
    flex-direction: column;
  }
}

