// Mobile
.homepage__container {
  width: 100vw;
  padding: 10px;
  min-height: 100vh;
  max-height: 100%;
}

// Tablet
@media (min-width: 640px) {
  .homepage__container {
    padding: 12px;
  }
}

/* iPad */
@media (min-width: 768px) {
  .homepage__container {
    padding: 14px;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  .homepage__container {
    padding: 16px;
  }
}

/* Desktop lá»›n */
@media (min-width: 1280px) {
  .homepage__container {
    padding: 18px;
  }
}
