// General 
.homepage__container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
// display: flex;
// flex-wrap: wrap;
// flex-direction: 'row';
}
// Desktop
@media (min-width: 768px) {
  .homepage__container {
  
  }
}
// mobile
@media(max-width:758px){
  .homepage__container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: 'column';
    border:1px solid blue;
  }
}

