// Mobile
.homepage__container {
  width: 100%;
  min-height: 100vh;
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .homepage__inner {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
  }
}

// Tablet
@media (min-width: 640px) {
  .homepage__container {
    padding: 12px;
  }
}

/* iPad */
@media (min-width: 768px) {
  .homepage__container {
    padding: 14px;
  }
}

/* Laptop */
@media (min-width: 1024px) {
  .homepage__container {
    padding: 16px;
    .homepage__inner {
      gap: 50px;
    }
  }
}

/* Desktop lớn */
@media (min-width: 1280px) {
  .homepage__container {
    padding: 18px;
  }
}
