// $primary-color: #717378;
$primary-color: #1E1E1E; 
$primary-variant1-color: #373737;
$primary-variant2-color: #19271C;
$primary-variant3-color: #29562F;

$secondary-color: #BDA243; 
$secondary-variant1-color: #9E7F39; 

$supportive-color:#ffff;  
$supportive-color1: #015ec8;