// $primary-color: #717378;
// $primary-color: #213325; 
// $primary-variant1-color: #598B65;
// $primary-variant2-color: #19271C;
// $primary-variant3-color: #29562F;
// $secondary-color: #AA4B4B; 
// $supportive-color:#E3B20E;  

// $supportive-color1: #015ec8;

// V2

$primary-color: #FBFAF2; 
$primary-variant1-color: #FFFFF5;
$primary-variant2-color: #19271C;
$primary-variant3-color: #29562F;
$secondary-color: #121212; 
$supportive-color:#E3B20E;  

$supportive-color1: #015ec8;