* {
  margin: 0;
  padding: 0;
  font-family: monospace!important;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body{
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
  font-family: 'aquarius-regular'!important;
}
.app_container{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
