* {
  margin: 0;
  padding: 0;
  font-family: monospace!important;
  
}
body{
  background-color: black;
  font-family: 'aquarius-regular'!important;
  
}
.app_container{
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 48px;
  font-size: 16px;
}
.app_container-extraSmallScreen{
  padding: 24px;
}
