@import './/colors/colorpreset.scss';

* {
  margin: 0;
  padding: 0;
  font-family: monospace!important;

}
body{
   background-color: $primary-color; 
  margin: 0;
  padding: 0;
  font-family: 'aquarius-regular'!important;
  overflow-x: hidden;
}
.app_container{
  display: flex;
  flex-direction: column;
  height: 100%;
}
