:root {
  margin: 0;
  padding: 0;
  color: white;
}
.main_container{
  height: auto;
  overflow: hidden;
}
body::-webkit-scrollbar-track {
  background: #f70000; /* Color of the scrollbar track */
}
body::-webkit-scrollbar-track {
  background: #f70000; /* Color of the scrollbar track */
}
